.thumb {
  max-width: 250px;
}

.imgPoster {
  display: block;
  height: 100%;
  width: 100%;

  object-fit: cover;
}

.wrapper {
  display: flex;
  gap: 25px;
  margin-bottom: 20px;
}

.inner {
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.title {
  font-size: 27px;
}

.subTitle {
  font-size: 18px;
  font-weight: 700;
}

.list {
  display: flex;
  gap: 15px;
}

svg {
  height: 20px;
  width: 20px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;

  padding: 5px 7px;
  margin-bottom: 15px;

  border: none;
  border-radius: 4px;

  font-size: 15px;
  font-weight: 500;

  background-color: rgba(96, 97, 131, 0.503);
}

button:hover {
  color: white;
  background-color: rgba(33, 34, 68, 0.503);
}
